footer {
  margin-top: 1%;
  padding: 20px;
  background-color: var(--secondary-green);
}

footer nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer nav ul li {
  text-transform: none;
}
@media screen and (max-width: 767px) {
  footer {
    margin-top: 100px;
    text-align: center;
  }
  nav ul li {
    margin-top: 10px;
  }
}
