:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-peach: #ee9972;
  --secondary-peach-light: #fbdabb;
  --highlight-light: #edefee;
  --highlight-dark: #333333;
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: var(--highlight-dark);
}
a:hover {
  text-decoration: none;
}
ul,
ul li {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Markazi Text", serif;
  font-weight: 500;
}
/*--------------------*/
/*Setting to zero*/
*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  font-weight: inherit;
  text-align: inherit;
  line-height: inherit;
  word-break: inherit;
  color: inherit;
  background: transparent;
}
/*--------------------*/
/* main take up the whole screen */
#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  /* max-width: 65ch; */
  font-size: 16px;
  line-height: 24px;
  color: var(--highlight-dark);
}
main {
  flex: 1 1 auto;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-size: 36px;
  line-height: 54px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
.titel {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}
.highlight {
  font-weight: 500;
}

a {
  color: var(--highlight-dark);
  transition: all 0.5s ease;
}
a:hover,
a:active {
  cursor: pointer;
  color: var(--primary-green);
}

/* page container */
.container {
  max-width: 1145px;
  margin: 40px auto 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 30px;
    margin: 0;
  }
}
