.about {
  margin: 7% auto;
}

.about > div {
  max-width: 65ch;
  order: 1;
}

/* for responsive images */
.about-image {
  flex: 0 0 37%;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  order: 2;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
/* --- */

@media screen and (max-width: 767px) {
  .about {
    margin: 100px auto;
  }

  .about p {
    order: 2;
  }
  .about-image {
    height: 350px;
    order: 1;
  }
}
